/*Colours:
#00204E - Dark blue
#FFFFFF - White
*/

/*Global Styles
-----------------------------------*/
html {
  background-color: #00204E;
}

h1 {
  text-align: center;
  color: #FFFFFF;
}

/*Search bar
-----------------------------------*/
form{
  display: flex;
  width: 100%;
  justify-content: center;
}

#course{
  width: 50%;
  padding-right: 50px;
  text-align: 20px;
}

#search_button{
  margin-left: -50px;
  padding-left: 12px;
  padding-right: 12px;
}

#course, #search_button{
  border-radius: 20px;
  border: none;
}
