<!DOCTYPE html>
<html>
<head>
	<title> Course Information Searcher</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#" />
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="static/index.js"></script>
</head>

<body>

	<!-- The header. -->
	<h1> UTSC Course Information Searcher </h1>

	<!-- The search bar & submit button. -->
	<form action="/" method="post">
		<input type="text" id="course" name="course" placeholder="course" minlength="6" maxlength="6" required><br><br>
		<input type="submit" value="Search" id="search_button">
	</form>

	<!-- The output message. -->
	<p id="message"></p>
</body>

<script type="text/javascript">
	var result = '{{message}}'; // Passes result to index.js.
</script>

</html>
